.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_steps {
  }
  
  &_timer {
  }

  &__text {
    text-align: center;
    padding: 5px;
  }

  &__icon {
    height: 25px;
    width: 25px;
  }
}
