.leaderboard-list {
  
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid white;
  }

  &__text {
    font-size: 16px;
  }
}
